@import url(preset.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-purple-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--font-family-base);
}

.container {
    margin-top: -167.5px;
}

main {
    max-width: 600px;
    height: 565px;
    padding: var(--spacing-500);
    border-radius: 16px;
    background-color: #fff;
}

h1 {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: var(--text-1-font-size);
    line-height: var(--text-1-line-height);
    font-weight: var(--text-1-font-weight);
    color: var(--color-purple-950);
    margin-bottom: 32px;
}

h1 img {
    height: 40px;
    width: 40px;
}

h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--text-2-font-size);
    line-height: var(--text-2-line-height);
    font-weight: var(--text-2-font-weight);
    cursor: pointer;
    margin-bottom: 24px;
}

h4 img {
    width: 30px;
    height: 30px;
}

img {
    object-fit: cover;
}

ul {
    width: 520px;
    height: 387px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style-type: none;
}

ul li {
    font-family: inherit;
}

ul li p {
    font-size: var(--text-3-font-size);
    line-height: var(--text-3-line-height);
    font-weight: var(--text-3-font-weight);
    width: 520px;
}

.pattern {
    height: 320px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    font-family: inherit;
    margin-top: auto;
}

.attribution a {
    color: inherit;
}

@media (max-width: 768px) {
    .container {
        padding: 0 84px;
    }

    main {
        margin: -67.5px auto 0 auto;
    }
}
