:root {
    /* ======================
     Base Colors
     ====================== */
    --white: #ffffff;
    --black: #000000;

    /* ======================
     Greys
     ====================== */
    --grey-950: #08070b;
    --grey-900: #14131b;
    --grey-850: #18171f;
    --grey-800: #24232c;

    --grey-700: #54535b;
    --grey-600: #817d92;
    --grey-200: #e6e5ea;

    /* ======================
     Semantic Colors
     ====================== */
    --green-200: #a4ffaf;
    --yellow-300: #f8cd65;
    --orange-400: #fb7c58;
    --red-500: #f64a4a;

    /* ======================
     Gradient
     ====================== */
    --gradient-1-start: #14131b;
    /* Red 400 start (from your data) */
    --gradient-1-end: #08070b;
    /* Red 400 end   */

    /* If you want a ready gradient variable */
    --gradient-1: linear-gradient(90deg,
            var(--gradient-1-start),
            var(--gradient-1-end));
}