/* FLEX CENTER */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FLEX BETWEEN */
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* GRID CENTER */
@mixin grid-center {
  display: grid;
  place-items: center;
}

/* RESPONSIVE GRID */
@mixin grid($min: 250px, $gap: var(--space-300)) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
  gap: $gap;
}
