@import url(font-face.css);
@import url(typography.css);
@import url(colors.css);
@import url(spacing.css);
@import url(reset.css);

body {
    background-color: var(--color-stone-100);
    color: var(--color-stone-600);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    border-radius: 24px;
    padding: 40px;
    max-width: 736px;
    width: 100%;
    background-color: #fff;
}

img {
    object-fit: cover;
    max-width: 656px;
    height: 300px;
    width: 100%;
    margin-bottom: 40px;
    border-radius: 12px;
}

section {
    max-width: 656px;
    width: 100%;
}

h1 {
    color: var(--color-stone-900);
    font-family: var(--text-1-font-family);
    font-weight: var(--text-3-font-weight);
    font-size: var(--text-1-font-size);
    line-height: var(--text-1-line-height);
}

article:first-of-type {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}