@import url(reset.css);
@import url(root-variables.css);

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-primary);
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
}

.signup--form {
  display: flex;
}

.signup__input,
.signup__button {
  cursor: pointer;
  outline: unset;
  border: unset;
  padding: var(--spacing-2) var(--spacing-3);
}

/* footer */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
