@import url(reset.css);
@import url(root-variables.css);

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-primary);
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

main {
  display: flex;
  align-items: center;
  margin: auto 0;
  overflow: hidden;
  background-color: #fff;
}

.signup div {
  /* max-width: 376px; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

label {
  display: block;
  font-weight: 800;
}

.signup--form {
  display: flex;
}

.signup__form {
  display: flex;
  flex-direction: column;
}

.signup__title {
  font-size: 3.25rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.signup__list-item {
  display: flex;
  gap: 16px;
}

.signup__list-item img {
  width: 9px;
  height: 6px;
  object-fit: cover;
}

.bg-primary {
  height: 21px;
  width: 21px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  max-width: 376px;
}

.signup__input,
.signup__button {
  cursor: pointer;
  outline: unset;
  border: unset;
  padding: var(--spacing-2) var(--spacing-3);
}

/* footer */
.attribution {
  margin-top: auto;
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
