:root {
    /* Neutral Colors */
    --color-neutral-900: #201F24;
    --color-neutral-500: #696868;
    --color-neutral-300: #B3B3B3;
    --color-neutral-100: #F2F2F2;
    --color-neutral-0: #FFFFFF;

    /* Beige */
    --color-beige-500: #98908B;
    --color-beige-100: #F8F4F0;

    /* Secondary Colors */
    --color-green-500: #277C78;
    --color-yellow-300: #F2CDAC;
    --color-cyan-300: #82C9D7;
    --color-navy-300: #626070;
    --color-red-600: #C94736;
    --color-purple-500: #826CB0;

    /* Other Colors */
    --color-violet-300: #AF81BA;
    --color-turquoise-500: #597C7C;
    --color-brown-500: #93674F;
    --color-magenta-500: #934F6F;
    --color-blue-600: #3F82B2;
    --color-navy-grey-300: #97A0AC;
    --color-army-green-500: #7F9161;
    --color-gold-500: #CAB361;
    --color-orange-500: #BE6C49;
}