/* Public Sans Font Faces */
@font-face {
    font-family: 'Public Sans';
    src: url('/assets/Public_Sans/static/PublicSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/Public_Sans/static/PublicSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/Public_Sans/static/PublicSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/Public_Sans/static/PublicSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/Public_Sans/static/PublicSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/Public_Sans/static/PublicSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}