@import url(font-face.css);
@import url(typography.css);
@import url(colors.css);
@import url(border-radius.css);
@import url(spacing.css);
@import url(reset.css);

body {
    font-family: var(--font-family-sans);
    background-color: var(--color-beige-100);
    color: var(--color-neutral-900);
}

.container {
    display: flex;
}

.overview {
    padding: var(--spacing-400) var(--spacing-500);
    max-width: 1060px;
    width: 100%;
}

nav {
    background-color: var(--color-neutral-900);
    text-decoration: none;
}

nav a {
    width: 276px;
    height: 56px;
    padding: 16px 32px;
}

.logo {
    padding: 40px 32px;
}

.logo a img {
    transition: transform 0.3s ease, filter 0.3s ease;
    display: block;
}

.logo a:hover img {
    transform: scale(1.05);
    filter: drop-shadow(0 0 8px var(--color-cyan-300));
}


nav a {
    width: 276px;
    height: 56px;
    padding: var(--spacing-200) var(--spacing-400);
    color: var(--color-neutral-300);
    font-size: var(--text-3-size);
    line-height: var(--text-3-line-height);
    font-weight: var(--text-3-weight);
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease, color 0.2s ease;
    gap: 16px;
    text-decoration: none;
}

nav a:hover {
    gap: 16px;
    text-decoration: none;
}

nav a:hover:not(nav .logo a) {
    background-color: var(--color-beige-100);
    color: var(--color-neutral-900);
}

nav a img {
    transition: filter 0.3s ease;
}

nav a:hover img {
    filter: sepia(1) saturate(2) hue-rotate(120deg);
}

nav section:last-of-type {
    padding: var(--spacing-200) var(--spacing-400);
}

nav section:last-of-type button:hover img {
    filter: sepia(1) saturate(2) hue-rotate(120deg);
}

nav section:last-of-type button {
    color: var(--color-neutral-100);
    display: flex;
    gap: 16px;
    font-size: var(--text-3-size);
    line-height: var(--text-3-line-height);
    font-weight: var(--text-3-weight);
}


h1 {
    font-size: var(--text-1-size);
    line-height: var(--text-1-line-height);
    font-weight: var(--text-1-weight);
}

header {
    display: flex;
    justify-content: space-between;
    margin: var(--spacing-400) 0;
    gap: 24px;
}

header article {
    padding: var(--spacing-300);
    border-radius: var(--radius-24);
    width: 337.33px;
    height: 119px;
    background-color: var(--color-neutral-0);
}


header article h5 {
    font-size: var(--text-4-size);
    line-height: var(--text-4-line-height);
    font-weight: var(--text-4-weight);
    color: var(--color-neutral-500);
}

header article:hover {
    cursor: pointer;
    background-color: var(--color-neutral-900);
    color: var(--color-neutral-0);
}

header article:hover h5 {
    color: var(--color-neutral-0);
}