@import url(reset.css);
@import url(typography.css);
@import url(spacing.css);
@import url(colors.css);

body {
    width: 100%;
    background-color: var(--gray-50);
    min-height: 100vh;
    background-image: url(../images/bg-mobile-light.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
}

main {
    width: inherit;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 90%;
    min-height: 90vh;
}