@import url(reset.css);
@import url(typography.css);
@import url(spacing.css);
@import url(colors.css);

/* ============================= */
/*            BODY               */
/* ============================= */
body {
    font-family: var(--font-primary);
}

/* ============================= */
/*           HEADER              */
/* ============================= */
header {
    height: 300px;
    background: url(../images/bg-desktop-light.jpg) center/cover no-repeat;
}

/* Mobile header background */
@media (max-width: 768px) {
    header {
        background-image: url(../images/bg-mobile-light.jpg);
    }
}

/* ============================= */
/*            MAIN               */
/* ============================= */
main {
    max-width: 540px;
    width: clamp(90%, 320px, 90%);
    /* fluid width between 320px and 90% */
    margin: -250px auto 0 auto;
    position: relative;
    z-index: 1;
    color: #fff;
}

/* Hide the label */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

section:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

section:first-of-type img:first-of-type {
    width: 162.62px;
    height: 30.08px;
    object-fit: cover;
}

section:first-of-type img:last-of-type {
    width: 25.11px;
    height: 26px;
    object-fit: cover;
    cursor: pointer;
}

section:nth-of-type(2),
section:last-of-type {
    border-radius: 5px;
    background-color: #fff;
}

section:nth-of-type(2) {
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    padding: 24px;
    height: 64px;
    display: flex;
    align-items: center;
}

section:nth-of-type(2) input:first-of-type {
    appearance: none;
    /* removes default styling */
    -webkit-appearance: none;
    -moz-appearance: none;

    margin-right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid var(--purple-300);
    outline: none;
    border-radius: 50%;
    /* if you want a circle for radio */
    background-color: white;
    /* optional, for clarity */
    cursor: pointer;
}

section:nth-of-type(2) input:last-of-type {
    cursor: pointer;
}

section:nth-of-type(2) input:last-of-type::placeholder {
    font-family: inherit;
    font-size: var(--text-1-size);
    color: var(--gray-600);
    line-height: 100%;
    letter-spacing: -0.25px;
}

footer {
    font-size: var(--text-2-size);
    color: var(--gray-600);
    font-weight: var(--weight-regular);
}