html,
body {
  height: 100%;
}
/* main */
body {
  color: white;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1; /* This pushes footer down */
  align-items: center;
  justify-content: center;
  gap: var(--space-400);
  max-width: 1116px;
  width: 100%;
  margin: 0 auto;
}

.dashboard__profile {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  padding-bottom: 32px;
}

nav,
.dashboard__cards div {
  background-color: var(--clr-navy-900);
}

div {
  border-radius: 15px;
}

.dashboard__profile-header {
  max-width: 255px;
}

.dashboard__filters {
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding-top: 32px;
}

.dashboard__filters button {
  background: transparent;
  outline: unset;
  border: unset;
  color: inherit;
  cursor: pointer;
  text-align: left;
  padding-left: 32px;
}

img {
  height: 78px;
  width: 78px;
  object-fit: cover;
  border: 3px solid var(--clr-grey-200);
  border-radius: 50%;
  margin-bottom: 40px;
}

span {
  display: block;
}

/* dashboard__cards */
.dashboard__cards {
  display: grid;
  grid-gap: var(--space-400);
  grid-template-columns: repeat(3, 1fr);
}

/* footer */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(0, 0%, 100%);
}
