:root {
    /* ===========================
     GREY / NEUTRALS
     =========================== */

    --grey-500: #4D4F62;
    --grey-500-rgb: 77, 79, 98;
    --grey-500-hsl: 234, 12%, 34%;

    --grey-400: #6A7178;
    --grey-400-rgb: 106, 113, 120;
    --grey-400-hsl: 212, 6%, 44%;

    --white: #FFFFFF;
    --white-rgb: 255, 255, 255;
    --white-hsl: 0, 0%, 100%;

    /* ===========================
     ACCENTS
     =========================== */

    --red: #EA5454;
    --red-rgb: 234, 84, 84;
    --red-hsl: 0, 78%, 62%;

    --cyan: #44D3D2;
    --cyan-rgb: 68, 211, 210;
    --cyan-hsl: 180, 62%, 55%;

    --blue: #549EF2;
    --blue-rgb: 84, 158, 242;
    --blue-hsl: 212, 86%, 64%;

    --orange: #FCAE4A;
    --orange-rgb: 252, 174, 74;
    --orange-hsl: 34, 97%, 64%;
}