@import url(reset.css);
@import url(typography.css);
@import url(colors.css);
@import url(spacing.css);

body {
    font-family: var(--font-poppins);
    background-color: #FAFAFA;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    max-width: 540px;
    width: 100%;
}

header,
main h2 {
    color: var(--grey-500);
}