:root {
    /* ===========================
     SPACING SCALE
     =========================== */

    --space-500: 40px;
    --space-400: 32px;
    --space-300: 24px;
    --space-200: 16px;
    --space-100: 8px;
}