:root {
    /* =========================================
     Spacing Scale
  ========================================= */
    --spacing-100: 8px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-800: 64px;
    --spacing-1100: 88px;
}