@import url(preset.css);

body {
    height: 100vh;
    background-color: var(--color-blue-50);
    font-family: var(--font-hanken);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* container */
.container {
    max-width: 736px;
    height: 512px;
}

main {
    display: flex;
}

section:first-of-type {
    background: linear-gradient(to bottom,
            var(--gradient-1-start) 0%,
            var(--gradient-1-end) 50%,
            var(--gradient-2-start) 75%,
            var(--gradient-2-end) 100%);
    border-radius: 32px;
    width: 368px;
}

section:first-of-type article {
    width: 260px;
    height: 422px;
    margin: 0 auto;
}

section:first-of-type div {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(to bottom,
            var(--gradient-1-end),
            /* Darker: #2521C9 */
            var(--gradient-1-start)
            /* Lighter: #4D21C9 */
        );
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px auto;
}

section:first-of-type div h1 {
    color: var(--color-white);
    font-family: var(--font-hanken);
    font-size: var(--text-1-size);
    line-height: var(--text-1-line-height);
    font-weight: var(--text-1-weight);
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:first-of-type div span {
    color: var(--color-navy-200);
    font-size: var(--text-5-size);
    line-height: var(--text-5-line-height);
    font-weight: var(--text-5-weight-medium);
}

h3 {
    font-size: var(--text-4-size);
    line-height: var(--text-4-line-height);
    font-weight: var(--text-4-weight);
    color: var(--color-navy-200);
    text-align: center;
}

h2 {
    color: var(--color-white);
    font-size: var(--text-3-size);
    line-height: var(--text-3-line-height);
    font-weight: var(--text-3-weight);
    text-align: center;
    margin-bottom: 16px;
}

section:first-of-type p {
    color: var(--color-navy-200);
    font-size: var(--text-5-size);
    line-height: var(--text-5-line-height);
    font-weight: var(--text-5-weight-medium);
    text-align: center;
}

/* right section */
section:last-of-type {
    background-color: var(--color-white);
}

section:last-of-type ul {
    list-style-type: none;
    margin: 32px 0;
    width: 288px;
    height: 272px;
    display: flex;
    flex-direction: column;
}

section:last-of-type ul li {
    display: flex;
    width: 250px;
    justify-content: space-between;
}

section:last-of-type article {
    width: 288px;
    height: 423px;
    margin: 0 auto;
}

section:last-of-type article button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

section:last-of-type h3 {
    color: var(--color-navy-950);
    font-size: var(--text-4-size);
    line-height: var(--text-4-line-height);
    font-weight: var(--text-4-weight);
}

/* footer */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: inherit;
}