@import url(preset.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: var(--text-1-font-family);
    background-color: var(--color-blue-700);
}

.container {
    max-width: 904px;
    height: 641px;
    padding: 32px;
    border-radius: 36px;
    border: 1px solid #151515;
    box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border: unset;
}

img {
    object-fit: cover;
    width: 400px;
    height: 593px;
    overflow: hidden;
}

main {
    display: flex;
    gap: 64px;
    width: 840px;
    height: 593px;
}

h1 {
    color: var(--color-blue-800);
    font-family: var(--text-1-font-family);
    font-weight: var(--text-1-font-weight);
    font-size: var(--text-1-font-size);
    line-height: var(--text-1-line-height);
}

p {
    color: var(--color-blue-800);
    font-family: var(--text-2-bold-font-family);
    font-weight: var(--text-2-regular-font-weight);
    font-size: var(--text-2-bold-font-size);
    line-height: var(--text-2-bold-line-height);
}

section:first-child {
    display: flex;
    flex-direction: column;
    width: 376px;
    height: 450px;
    padding: 71.5px 0;
}

section:first-child>div {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

section:first-child form {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

ul li {
    position: relative;
    padding-left: 2em;
    font-family: var(--text-2-regular-font-family);
    font-weight: var(--text-2-regular-font-weight);
    font-size: var(--text-2-regular-font-size);
    line-height: var(--text-2-regular-line-height);
}

ul li:not(:last-child) {
    margin-bottom: 0.5em;
}

ul li:last-child {
    margin-bottom: 32px;
}

ul li::before {
    content: '✔';
    /* Unicode checkmark */
    position: absolute;
    left: 0;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #ff6155;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: var(--text-1-font-family);
}

/* input */
input,
button {
    outline: unset;
    border: unset;
    cursor: pointer;
    border-radius: 8px;
    height: 56px;
}

input {
    padding: 16px 24px;
    outline: 1px solid var(--color-grey);
    margin-bottom: 24px;
    font-size: var(--text-2-regular-font-size);
}

input::placeholder {
    font-family: var(--text-2-regular-font-family);
    font-weight: var(--text-2-regular-font-weight);
    font-size: var(--text-2-regular-font-size);
    line-height: var(--text-2-regular-line-height);
}

button {
    padding: 16px 72px;
    background-color: var(--color-blue-800);
    color: #ffffff;
    font-family: var(--text-2-bold-font-family);
    font-weight: var(--text-2-bold-font-weight);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15.5px;
    cursor: not-allowed;
}

button.active {
    background-color: green;
    cursor: pointer;
}

label {
    color: var(--color-blue-800);
    font-family: var(--text-3-font-family);
    font-weight: var(--text-3-font-weight);
    font-size: var(--text-3-line-height);
    font-size: var(--text-3-font-size);
    margin-bottom: 5px;
}

/* thanks */
.thanks {
    visibility: hidden;
}

/* footer */
footer {
    color: var(--color-grey);
    font-family: var(--text-3-font-family);
    font-weight: normal;
    font-size: var(--text-3-font-size);
    line-height: var(--text-3-line-height);

}

footer a {
    color: inherit;
}

@media (max-width: 768px) {
    .container {
        width: 608px;
        height: 878px;
        padding: 40px;
    }

    main {
        display: flex;
        flex-direction: column-reverse;
        width: 528px;
        height: 792px;
        gap: 40px;
    }

    img {
        width: 528px;
        height: 358.29px;
        border-radius: 16px;
        padding-top: 40px;
    }

    section:first-child {
        width: 528px;
        padding: 0;
    }

    section:first-child>div {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    section:first-child form {
        display: flex;
        flex-direction: column;
        height: 154px;
        width: 528px;
    }

    input {
        margin-bottom: 24px;
    }

    h1 {
        font-size: var(--text-1-mobile-font-size);
    }

    ul li:last-child {
        margin-bottom: 24px;
    }


}

@media (max-width: 376px) {
    .container {
        height: 842px;
        padding: 0;
    }

    main {
        width: 100%;
        min-width: 375px;
        height: 798px;
        display: flex;
        flex-direction: column-reverse;
    }

    img {
        display: block;
        height: 284px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        overflow: hidden;
        margin: auto;
        padding: 0;
        max-width: 375px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    section:first-child {
        max-width: 327px;
        margin: 0 auto;
        padding: 0;
    }

    form {
        max-width: 327px;
        margin: auto;
    }

    button {
        font-size: 12px;
    }

    footer {
        display: none;
    }
}