:root {
    /* ============================= */
    /* Colors                        */
    /* ============================= */

    /* Whites & Blacks */
    --color-white: #FFFFFF;
    /* RGB: 255,255,255 | HSL: 0°, 100%, 100% */
    --color-black: #000000;
    /* RGB: 0,0,0 | HSL: 0°, 0%, 0% */

    /* Greys */
    --color-grey-950: #131518;
    /* RGB: 19,21,24 | HSL: 216°,12%,8% */
    --color-grey-900: #262E38;
    /* RGB: 38,46,56 | HSL: 213°,19%,18% */
    --color-grey-500: #969FAD;
    /* RGB: 150,159,173 | HSL: 217°,12%,63% */

    /* Orange */
    --color-orange-500: #FC7614;
    /* RGB: 252,118,20 | HSL: 25°,97%,53% */

    /* Gradients */
    --gradient-1-start: #232A34;
    /* RGB: 35,42,52 | HSL: 215°,20%,17% */
    --gradient-1-end: #181E27;
    /* RGB: 24,30,39 | HSL: 216°,24%,12% */
}