@import url(root-variables.css);

body {
  min-height: 100vh;
  background-color: var(--color-cream);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  display: flex;
  max-width: 600px;
  width: 100%;
}

figure img {
  width: clamp(200px, 50vw, 300px);
  height: auto;
}

h1 {
  font-family: var(--text-preset-4-font);
  font-weight: var(--text-preset-4-weight);
  font-size: var(--text-preset-4-size);
  line-height: var(--text-preset-4-line-height);
  letter-spacing: var(--text-preset-4-letter-spacing);
  text-transform: uppercase;
}

h2 {
  font-family: var(--text-preset-1-font);
  font-weight: var(--text-preset-1-weight);
  font-size: var(--text-preset-1-size);
  line-height: var(--text-preset-1-line-height);
}

p:first-of-type {
  font-family: var(--text-preset-3-font);
  font-weight: var(--text-preset-3-weight);
  font-size: var(--text-preset-3-size);
  line-height: var(--text-preset-3-line-height);
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* footer */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
