@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Colors */
    --black: #121212;
    --dark-blue: #19202d;
    --white: #ffffff;
    --grey-100: #e7eaee;
    --grey-200: #cfcfcf;
    --grey-400: #676d7e;
    --grey-500: #48556a;
    --purple-50: #ede4ff;
    --purple-300: #a775f1;
    --purple-500: #733fc8;

    /* Typography */
    --text-preset-1-font: "Barlow Semi Condensed", sans-serif;
    --text-preset-1-weight: 600;
    --text-preset-1-line-height: 120%;
    --text-preset-1-size: 20px;

    /* Medium */
    --text-preset-2-font: "Barlow Semi Condensed", sans-serif;
    --text-preset-2-weight: 500;
    --text-preset-2-line-height: 110%;
    --text-preset-2-size: 13px;

    --text-preset-3-font: "Barlow Semi Condensed", sans-serif;
    --text-preset-3-weight: 500;
    --text-preset-3-line-height: 140%;
    --text-preset-3-size: 13px;

    --text-preset-4-font: "Barlow Semi Condensed", sans-serif;
    --text-preset-4-weight: 500;
    --text-preset-4-line-height: 110%;
    --text-preset-4-size: 11px;

    /* Spacing */
    --space-500: 40px;
    --space-400: 32px;
    --space-300: 24px;
    --space-200: 16px;
    --space-100: 8px;
    --space-50: 4px;
}