/* ==========================
     COLOR PALETTE
     ========================== */
:root {
    /* Neutrals */
    --white: #ffffff;
    --black: #000000;

    /* Blues */
    --blue-950: #0d192c;
    /* hsl(217, 54%, 11%) */
    --blue-900: #15263f;
    /* hsl(216, 50%, 16%) */
    --blue-800: #2e405a;
    /* hsl(215, 32%, 27%) */
    --blue-500: #8bacd9;
    /* hsl(215, 51%, 70%) */

    /* Cyan */
    --cyan-400: #00fff8;
    /* hsl(178, 100%, 50%) */
}