@import url(font-face.css);

:root {
    /* ==========================
     FONT FAMILY
     ========================== */
    --font-family: 'Outfit', sans-serif;

    /* ==========================
     FONT WEIGHTS
     ========================== */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;

    /* ==========================
     TYPOGRAPHY PRESETS
     ========================== */

    /* Text Preset 1 */
    --preset-1-font: var(--font-family);
    --preset-1-weight: var(--fw-semi-bold);
    --preset-1-size: 22px;
    --preset-1-line-height: 125%;
    --preset-1-letter-spacing: 0px;

    /* Text Preset 2 */
    --preset-2-font: var(--font-family);
    --preset-2-weight: var(--fw-light);
    --preset-2-size: 18px;
    --preset-2-line-height: 145%;
    --preset-2-letter-spacing: 0px;

    /* Text Preset 3 (SemiBold) */
    --preset-3-semibold-font: var(--font-family);
    --preset-3-semibold-weight: var(--fw-semi-bold);
    --preset-3-semibold-size: 16px;
    --preset-3-semibold-line-height: 125%;
    --preset-3-semibold-letter-spacing: 0px;

    /* Text Preset 3 (Regular) */
    --preset-3-regular-font: var(--font-family);
    --preset-3-regular-weight: var(--fw-regular);
    --preset-3-regular-size: 16px;
    --preset-3-regular-line-height: 125%;
    --preset-3-regular-letter-spacing: 0px;
}