/* Overpass Regular */
@font-face {
    font-family: 'Overpass';
    src: url('./static/Overpass-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Overpass Bold */
@font-face {
    font-family: 'Overpass';
    src: url('./static/Overpass-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Overpass SemiBold */
@font-face {
    font-family: 'Overpass';
    src: url('./static/Overpass-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}