:root {
    /* === Font Family === */
    --font-base: 'Overpass', sans-serif;

    /* === Font Weights === */
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    /* === Text Presets === */

    /* Text Preset 1 */
    --text-1-size: 28px;
    --text-1-line-height: 35px;
    --text-1-letter-spacing: 0px;
    --text-1-weight: var(--font-weight-bold);

    /* Text Preset 2 */
    --text-2-size: 24px;
    --text-2-line-height: 30px;
    --text-2-letter-spacing: 0px;
    --text-2-weight: var(--font-weight-bold);

    /* Text Preset 3 */
    --text-3-size: 16px;
    --text-3-line-height: 24px;
    --text-3-letter-spacing: 0.2px;
    --text-3-weight: var(--font-weight-bold);

    /* Text Preset 4 (Bold) */
    --text-4-bold-size: 15px;
    --text-4-bold-line-height: 19px;
    --text-4-bold-letter-spacing: 2px;
    --text-4-bold-weight: var(--font-weight-bold);

    /* Text Preset 4 (Regular) */
    --text-4-regular-size: 15px;
    --text-4-regular-line-height: 24px;
    --text-4-regular-letter-spacing: 0px;
    --text-4-regular-weight: var(--font-weight-regular);

    /* Text Preset 5 (Bold) */
    --text-5-bold-size: 14px;
    --text-5-bold-line-height: 18px;
    --text-5-bold-letter-spacing: 1.87px;
    --text-5-bold-weight: var(--font-weight-bold);

    /* Text Preset 5 (SemiBold) */
    --text-5-semi-size: 14px;
    --text-5-semi-line-height: 24px;
    --text-5-semi-letter-spacing: 0.17px;
    --text-5-semi-weight: var(--font-weight-semi-bold);

    /* Text Preset 5 (Regular) */
    --text-5-regular-size: 14px;
    --text-5-regular-line-height: 22px;
    --text-5-regular-letter-spacing: 0px;
    --text-5-regular-weight: var(--font-weight-regular);
}