@import url('reset.css');
@import url('preset.css');


body {
    background-color: var(--Primary);
}

header {
    width: 540px;
    margin: auto;
    color: var(--Grey-500);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin-bottom: 16px;
    width: 445px;
    font-weight: var(--font-preset-2-font-weight);
    font-size: var(--font-preset-2-font-size);
    font-family: var(--font-preset-2-font-family);
    line-height: var(--font-preset-2-line-height);
    letter-spacing: var(--font-preset-2-letter-spacing);
}

header h1 span {
    width: 100%;
    font-weight: var(--font-preset-1-font-weight);
    font-size: var(--font-preset-1-font-size);
    font-family: var(--font-preset-1-font-family);
    line-height: var(--font-preset-1-line-height);
    letter-spacing: var(--font-preset-1-letter-spacing);
}

header p {
    font-weight: var(--font-preset-4-font-weight);
    font-family: var(--font-preset-4-font-family);
    line-height: var(--font-preset-4-line-height);
    letter-spacing: var(--font-preset-4-letter-spacing);
    text-align: center;
}

article {
    background-color: var(--White);
    width: 350px;
    padding: var(--space-400);
}

article h2 {
    font-weight: var(--font-preset-3-font-weight);
    font-size: var(--font-preset-3-font-size);
    font-family: var(--font-preset-3-font-family);
    line-height: var(--font-preset-3-line-height);
    letter-spacing: var(--font-preset-3-letter-spacing);
    color: var(--Grey-500);
}

article p {
    font-weight: var(--font-preset-5-font-weight);
    font-size: var(--font-preset-5-font-size);
    font-family: var(--font-preset-5-font-family);
    line-height: var(--font-preset-5-line-height);
    letter-spacing: var(--font-preset-5-letter-spacing);
    color: var(--Grey-400);
}

article img {
    margin-left: auto;
}

article div {
    margin-bottom: var(--space-400);
}

footer {
    color: var(--Grey-400);
    text-align: center;
}

footer a {
    text-decoration: none;
}