@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Colors */
    --Grey-500: #4d4f62;
    --Grey-400: #6a7178;
    --White: #ffffff;
    --Red: #ea5454;
    --Cyan: #44d3d2;
    --Blue: #549ef2;
    --Orange: #fcae4a;

    /* Typography */
    --text-preset-1-font: 'Poppins', sans-serif;
    --text-preset-1-weight: 600;
    /* Semibold */
    --text-preset-1-size: 36px;
    --text-preset-1-line-height: 140%;
    --text-preset-1-letter-spacing: 0.25px;

    --text-preset-2-font: 'Poppins', sans-serif;
    --text-preset-2-weight: 200;
    /* Extra Light */
    --text-preset-2-size: 36px;
    --text-preset-2-line-height: 140%;
    --text-preset-2-letter-spacing: 0.25px;

    --text-preset-3-font: 'Poppins', sans-serif;
    --text-preset-3-weight: 600;
    /* Semibold */
    --text-preset-3-size: 20px;
    --text-preset-3-line-height: 135%;
    --text-preset-3-letter-spacing: 0px;

    --text-preset-4-font: 'Poppins', sans-serif;
    --text-preset-4-weight: 400;
    /* Regular */
    --text-preset-4-size: 16px;
    --text-preset-4-line-height: 160%;
    --text-preset-4-letter-spacing: 0px;

    --text-preset-5-font: 'DM Sans', sans-serif;
    --text-preset-5-weight: 400;
    /* Regular */
    --text-preset-5-size: 13px;
    --text-preset-5-line-height: 160%;
    --text-preset-5-letter-spacing: 0px;

    /* Spacing */
    --spacing-500: 40px;
    --spacing-400: 32px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-100: 8px;
}

