@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Grey tones */
    --grey-500: #4D4F62;
    --grey-400: #6A7178;

    /* White */
    --white: #FFFFFF;

    /* Red */
    --red: #EA5454;

    /* Cyan */
    --cyan: #44D3D2;

    /* Blue */
    --blue: #549EF2;

    /* Orange */
    --orange: #FCAE4A;

    /* Typography Presets */
    --text-preset-1-semibold-font: 'Poppins', sans-serif;
    --text-preset-1-semibold-size: 36px;
    --text-preset-1-semibold-line-height: 140%;
    --text-preset-1-semibold-letter-spacing: 0.25px;

    --text-preset-2-light-font: 'Poppins', sans-serif;
    --text-preset-2-light-size: 36px;
    --text-preset-2-light-line-height: 140%;
    --text-preset-2-light-letter-spacing: 0.25px;

    --text-preset-3-semibold-font: 'Poppins', sans-serif;
    --text-preset-3-semibold-size: 20px;
    --text-preset-3-semibold-line-height: 135%;
    --text-preset-3-semibold-letter-spacing: 0px;

    --text-preset-4-regular-font: 'Poppins', sans-serif;
    --text-preset-4-regular-size: 15px;
    --text-preset-4-regular-line-height: 140%;
    --text-preset-4-regular-letter-spacing: 0px;

    --text-preset-5-regular-font: 'DM Sans', sans-serif;
    --text-preset-5-regular-size: 16px;
    --text-preset-5-regular-line-height: 18px;
    --text-preset-5-regular-letter-spacing: 0px;

    --text-preset-6-regular-font: 'Poppins', sans-serif;
    --text-preset-6-regular-size: 13px;
    --text-preset-6-regular-line-height: 160%;
    --text-preset-6-regular-letter-spacing: 0px;

    /* Spacing Scale */
    --spacing-500: 40px;
    --spacing-400: 32px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-100: 8px;

}