/* Variable Font - Regular */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('./assets/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
}

/* Variable Font - Italic */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('./assets/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 800;
    font-style: italic;
    font-display: swap;
}


:root {
    /* Font family */
    --font-jetbrains: 'JetBrains Mono', monospace;

    /* Text Presets */
    --text-1-size: 32px;
    --text-1-line-height: 42px;

    --text-2-size: 24px;
    --text-2-line-height: 32px;

    --text-3-size: 18px;
    --text-3-line-height: 24px;

    --text-4-size: 16px;
    --text-4-line-height: 20px;

    /* Common styles */
    --text-letter-spacing: 0px;
    --text-font-weight: 700;
    /* Bold */

    /* Spacing Scale */
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-700: 56px;
    --spacing-1000: 80px;
    --spacing-1300: 104px;
    --spacing-1600: 128px;
    --spacing-2000: 160px;
    --spacing-2200: 176px;
    --spacing-2300: 184px;

    /* === Base Colors === */
    --color-white: #ffffff;
    --color-black: #000000;

    /* === Grey Scale === */
    --grey-950: #08070B;
    --grey-900: #14131B;
    --grey-850: #18171F;
    --grey-800: #24232C;
    --grey-700: #54535B;
    --grey-600: #817D92;
    --grey-200: #E6E5EA;

    /* === Brand Colors === */
    --green-200: #A4FFAF;
    --yellow-300: #F8CD65;
    --orange-400: #FB7C58;
    --red-500: #F64A4A;

    /* === Gradients === */
    --gradient-1-start: #14131B;
    --gradient-1-end: #08070B;

    /* === RGB (optional, for overlays or JS use) === */
    --rgb-white: 255, 255, 255;
    --rgb-black: 0, 0, 0;
    --rgb-grey-950: 8, 7, 11;
    --rgb-grey-900: 20, 19, 27;
    --rgb-grey-850: 24, 23, 31;
    --rgb-grey-800: 36, 35, 44;
    --rgb-grey-700: 84, 83, 91;
    --rgb-grey-600: 128, 124, 146;
    --rgb-grey-200: 230, 229, 234;
    --rgb-green-200: 164, 255, 175;
    --rgb-yellow-300: 248, 205, 101;
    --rgb-orange-400: 251, 124, 88;
    --rgb-red-500: 246, 74, 74;
}