/* Karla Regular */
@font-face {
    font-family: 'Karla';
    src: url('./assets/Karla/static/Karla-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Karla Bold */
@font-face {
    font-family: 'Karla';
    src: url('./assets/Karla/static/Karla-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Karla Italic */
@font-face {
    font-family: 'Karla';
    src: url('./assets/Karla/static/Karla-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Karla Bold Italic (optional) */
@font-face {
    font-family: 'Karla';
    src: url('./assets/Karla/static/Karla-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

:root {
    /* Font families */
    --font-primary: 'Karla', sans-serif;

    /* Font weights */
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Font sizes */
    --font-heading: 32px;
    --font-body-md: 18px;
    --font-body-sm: 16px;

    /* Line heights */
    --line-height-heading: 100%;
    --line-height-body: 150%;

    /* Letter spacing */
    --letter-spacing-heading: -1px;
    --letter-spacing-body: 0px;

    /* Spacing scale */
    --space-1600: 128px;
    --space-500: 40px;
    --space-400: 32px;
    --space-300: 24px;
    --space-200: 16px;
    --space-150: 12px;
    --space-100: 8px;

    /* Grayscale */
    --color-grey-900: #2A4144;
    /* rgb(42, 65, 68) | hsl(187, 24%, 22%) */
    --color-grey-500: #86A2A5;
    /* rgb(134, 162, 165) | hsl(186, 15%, 59%) */
    --color-white: #FFFFFF;
    /* rgb(255, 255, 255) | hsl(0, 0%, 100%) */

    /* Green */
    --color-green-600: #0C7D69;
    /* rgb(12, 125, 105) | hsl(169, 82%, 27%) */
    --color-green-200: #E0F1E8;
    /* rgb(224, 241, 232) | hsl(148, 38%, 91%) */

    /* Red (Errors) */
    --color-red-error: #D73C3C;
    /* rgb(215, 60, 60) | hsl(0, 66%, 54%) */
}