@import url("/design.css");

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header,
.filters {
  display: flex;
}

.countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 72px;
}

.country-card {
  display: flex;
  flex-direction: column;
}
