@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d5e1ef;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

main {
    font-family: "Outfit", sans-serif;
    padding: 16px 16px 40px 16px;
    background-color: #ffffff;
    max-width: 320px;
    border-radius: 20px;
}

img {
    width: 288px;
    height: 288px;
    object-fit: cover;
}

h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    margin: 0 auto 16px auto;
    text-align: center;
    width: 256px;
    color: #1f314f;
}

p {
    line-height: 140%;
    letter-spacing: 0.2px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    width: 256px;
    margin: auto;
    color: #68778d;
}

div {
    width: 288px;
    margin-top: 24px;
}