@font-face {
    font-family: 'Manrope';
    src: url('./Manrope/static/Manrope-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('./Manrope/static/Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('./Manrope/static/Manrope-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


:root {
    /* White */
    --color-white: #FFFFFF;

    /* Grey Scale */
    --color-grey-900: #48556A;
    --color-grey-500: #6E8098;
    --color-grey-400: #9DAEC2;
    --color-grey-200: #ECF2F8;

    /* Optional: RGB values if needed for effects like rgba backgrounds */
    --rgb-white: 255, 255, 255;
    --rgb-grey-900: 72, 85, 106;
    --rgb-grey-500: 110, 128, 152;
    --rgb-grey-400: 157, 174, 194;
    --rgb-grey-200: 236, 242, 248;

    /* Optional: HSL values for advanced theming */
    --hsl-white: 0, 100%, 100%;
    --hsl-grey-900: 217, 19%, 35%;
    --hsl-grey-500: 214, 17%, 51%;
    --hsl-grey-400: 212, 23%, 69%;
    --hsl-grey-200: 210, 46%, 95%;

    /* Font Families */
    --font-family-manrope: 'Manrope', sans-serif;

    /* Font Weights */
    --font-weight-bold: 700;
    --font-weight-medium: 500;

    /* Text Preset 1 (Bold) */
    --text-1-font-size: 20px;
    --text-1-line-height: 130%;
    --text-1-letter-spacing: 0.25px;
    --text-1-font-weight: var(--font-weight-bold);

    /* Text Preset 2 (Bold) */
    --text-2-bold-font-size: 13px;
    --text-2-bold-line-height: 140%;
    --text-2-bold-letter-spacing: 0.12%;
    --text-2-bold-font-weight: var(--font-weight-bold);

    /* Text Preset 2 (Medium) */
    --text-2-medium-font-size: 13px;
    --text-2-medium-line-height: 140%;
    --text-2-medium-letter-spacing: 0.12%;
    --text-2-medium-font-weight: var(--font-weight-medium);

    /* Text Preset 3 (Regular) */
    --text-3-font-size: 13px;
    --text-3-line-height: 140%;
    --text-3-letter-spacing: 25%;
    --text-3-font-weight: 400;

    --spacing-0: 0px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-700: 56px;
    --spacing-800: 64px;
    --spacing-1300: 104px;
    --spacing-2000: 160px;
}