:root {
  /* Colors */
  --color-lime: #d8db2f;

  --color-slate-900: #133041;
  --color-slate-700: #4e6e7e;
  --color-slate-500: #6b94a8;
  --color-slate-300: #9abed5;
  --color-slate-100: #e4f4fd;

  --color-white: #ffffff;
  --color-red: #d73328;

  /* Typography */
  --font-family: "Plus Jakarta Sans", sans-serif;

  --text-1-size: 56px;
  --text-1-line-height: 125%;
  --text-1-weight: 700;
  --text-1-letter-spacing: -1px;

  --text-2-size: 24px;
  --text-2-line-height: 125%;
  --text-2-weight: 700;
  --text-2-letter-spacing: -1px;

  --text-3-size: 18px;
  --text-3-line-height: 125%;
  --text-3-weight: 700;
  --text-3-letter-spacing: -1px;

  --text-4-size: 16px;
  --text-4-line-height: 150%;
  --text-4-weight: 500;
  --text-4-letter-spacing: 0;

  --text-5-size: 14px;
  --text-5-line-height: 150%;
  --text-5-weight: 500;
  --text-5-letter-spacing: 0;

  /* Spacing */
  --space-100: 8px;
  --space-150: 12px;
  --space-200: 16px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;
}

