/* Modern CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Remove list styles on ul, ol elements with a list role */
ul[role='list'],
ol[role='list'],
ul,
ol {
    list-style: none;
}

/* Anchor defaults */
a {
    text-decoration: none;
    color: inherit;
}

/* Image defaults */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    outline: unset;
    border: unset;
    cursor: pointer;
}