@import url(reset.css);
@import url(typography.css);
@import url(spacing.css);
@import url(colors.css);

body {
    font-family: var(--ff-primary);
    background-color: var(--color-grey-950);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: var(--color-white);
}

.wrapper {
    padding: var(--spacing-400) var(--spacing-300);
    max-width: 412px;
    width: 100%;
}