:root {
    /* Spacing Scale */
    --spacing-0: 0;
    --spacing-100: 0.5rem;
    /* 8px */
    --spacing-200: 1rem;
    /* 16px */
    --spacing-300: 1.5rem;
    /* 24px */
    --spacing-400: 2rem;
    /* 32px */
    --spacing-500: 2.5rem;
    /* 40px */
    --spacing-1300: 6.5rem;
    /* 104px */
    --spacing-1700: 8.5rem;
    /* 136px */
}