@import url(reset.css);

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    max-width: 1116px;
    width: 100%;
    display: flex;
    gap: var(--spacing-400);
}

section:last-of-type {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-400);
}

section:last-of-type article {
    max-width: 255px;
    width: 100%;
}

header {
    padding: var(--spacing-400);
}

header img {
    height: 78px;
    width: 78px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 3px solid #d8d8d8;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-size: var(--fs-preset-6);
}