@import url(font-face.css);
@import url(colors.css);

/* ===========================
   ROOT VARIABLES
   =========================== */
:root {
    /* Font family */
    --font-rubik: 'Rubik', sans-serif;

    /* Font weights */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    /* Typography presets */
    --fs-preset-1: 56px;
    --lh-preset-1: 66px;

    --fs-preset-2: 40px;
    --lh-preset-2: 47px;

    --fs-preset-3: 32px;
    --lh-preset-3: 38px;

    --fs-preset-4: 24px;
    --lh-preset-4: 28px;

    --fs-preset-5: 18px;
    --lh-preset-5: 21px;

    --fs-preset-6: 15px;
    --lh-preset-6: 18px;

    /* Letter spacing */
    --ls-default: 0px;

    /* Example color palette (customize to your theme) */
    --clr-primary: hsl(246, 80%, 60%);
    --clr-bg: hsl(226, 43%, 10%);
    --clr-card: hsl(235, 46%, 20%);
    --clr-text: hsl(236, 100%, 87%);
    --clr-heading: #fff;
}