/* ===== Figtree Font Faces ===== */
@font-face {
    font-family: 'Figtree';
    src: url('../Figtree/static/Figtree-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('../Figtree/static/Figtree-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('../Figtree/static/Figtree-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('../Figtree/static/Figtree-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('../Figtree/static/Figtree-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('../Figtree/static/Figtree-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('../Figtree/static/Figtree-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Figtree';
    src: url('../Figtree/static/Figtree-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Figtree';
    src: url('../Figtree/static/Figtree-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Figtree';
    src: url('../Figtree/static/Figtree-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Figtree';
    src: url('../Figtree/static/Figtree-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Figtree';
    src: url('../Figtree/static/Figtree-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}