/* ================================
   Color Tokens
   ================================ */

:root {
    /* ================================
     Neutral Colors
     ================================ */

    --color-white: #ffffff;
    --color-black: #000000;

    /* ================================
     Blue Scale
     ================================ */

    --color-blue-950: #0d192c;
    --color-blue-900: #15263f;
    --color-blue-800: #2e405a;
    --color-blue-500: #8bacd9;

    /* ================================
     Accent Colors
     ================================ */

    --color-cyan-400: #00fff8;
}