body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.background {
  background-image: url("../assets/images/background-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 320px;
}

.skip-link {
  position: absolute;
}

button {
  background: transparent;
  cursor: pointer;
  outline: unset;
  border: unset;
}

/* main */
.faq {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 150px;
  width: min(100% - var(--spacing-400), 600px);
  margin-inline: auto;
}

.faq__card {
  width: 100%;
}

.faq__icon {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

/* footer */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
