/* Common style for the top banner section */
article>div:first-child {
    height: 45px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    border-radius: 25px 25px 0 0;

}

.work,
.play,
.study,
.exercise,
.social,
.self {
  position: relative;
}


/* Pseudo-elements for concave effect */
.work::before,
.play::before,
.study::before,
.exercise::before,
.social::before,
.self::before {
  content: "";
  position: absolute;
  bottom: -1px; /* sticks out of bottom edge */
  left: 0;
  height: 15px;
  width: 100%;
  background-color: var(--navy-900); 
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.work {
    background-image: url(images/icon-work.svg);
    background-color: var(--orange-300);
}

.play {
    background-color: var(--blue-300);
    background-image: url(images/icon-play.svg);
}

.study {
    background-color: var(--pink-400);
    background-image: url(images/icon-study.svg);
}

.exercise {
    background-color: var(--green-400);
    background-image: url(images/icon-exercise.svg);
}

.social {
    background-color: var(--purple-700);
    background-image: url(images/icon-social.svg);
}

.self {
    background-color: var(--yellow-300);
    background-image: url(images/icon-self-care.svg);
}