@import url(preset.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-rubik);
    align-items: center;
    justify-content: center;
    background-color: var(--navy-950);
    color: var(--white);
}

img {
    object-fit: cover;
}

button {
    display: flex;
    align-items: center;
}

button img {
    width: 21px;
    height: 5px;
    color: var(--navy-200);
}

main {
    max-width: 1116px;
    height: 520px;
    display: flex;
    gap: 32px;
}

section:last-child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

article {
    width: 255px;
    height: 244px;
    display: flex;
    flex-direction: column-reverse;
}

article>div {
    padding: 32px;
    width: 255px;
    height: 199px;
    background-color: var(--navy-900);
}

.work {
    background-color: var(--orange-300);
}

.play {
    background-color: var(--blue-300);
}

.study {
    background-color: var(--pink-400);
}

.exercise {
    background-color: var(--green-400);
}

.social {
    background-color: var(--purple-700);
}

.self {
    background-color: var(--yellow-300);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: inherit;
}