@import url(preset.css);

body {
    background-color: var(--navy-950);
    font-family: var(--font-family-rubik);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: beige;
}

main {
    display: flex;
    gap: 32px;
    max-width: 1116px;
    width: 100%;
}

section:first-of-type {
    max-width: 255px;
    width: 100%;
    background-color: var(--navy-900);
}

section:first-of-type img {
    width: 78px;
    height: 78px;
    border: 3px solid var(--grey-200);
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

section>div:first-of-type {
    padding: 32px;
    background-color: var(--purple-600);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

section>div:first-of-type h1 {
    color: #fff;
    font-size: var(--text-2-size);
    line-height: var(--text-2-line-height);
    font-weight: var(--text-2-weight);
}

section>div:first-of-type h1 span {
    color: var(--navy-200);
    font-size: var(--text-6-size);
    line-height: var(--text-6-line-height);
    font-weight: var(--text-6-weight);
}

section>div:last-of-type {
    display: flex;
    flex-direction: column;
    padding: 28px 155px 32px 32px;
    gap: 21px;
    background-color: var(--navy-900);
}

section:last-of-type {
    max-width: 829px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px
}

/* grid */
article {
    background-color: var(--navy-900);
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-size: var(--text-6-size);
}

@media screen and (max-width: 768px) {
    main {
        max-width: 612px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    section:first-of-type {
        max-width: 612px;
        width: 100%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    section:first-of-type div:first-of-type {
        height: 133px;
        display: flex;
        gap: 8px;
        align-items: center;
        width: 100%;
    }

    section>div:last-of-type {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        padding-right: 0;
        padding-left: 0;
        align-items: center;
        justify-content: space-between;
        width: 343px;
    }

    section:first-of-type div:first-of-type h1 {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    section:last-of-type {
        display: grid;
        grid-template-columns: repeat(31 1fr);
        gap: 24px;
    }
}