@import url(preset.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-rubik);
    align-items: center;
    justify-content: center;
    background-color: var(--navy-950);
    color: var(--white);
}

img {
    object-fit: cover;
}

button {
    width: 190px;
    display: flex;
    align-items: center;
    outline: unset;
    border: unset;
    background: transparent;
    color: white;
    cursor: pointer;
    justify-content: space-between;
    height: 21px;
    font-size: var(--text-5-medium-size);
    line-height: var(--text-5-medium-line-height);
    font-weight: var(--text-5-medium-weight);
}

button img {
    width: 21px;
    height: 5px;
    color: var(--navy-200);
}

main {
    max-width: 1116px;
    height: 520px;
    display: flex;
    gap: 32px;
}

section:first-child {
    width: 255px;
    color: var(--white);
    border-radius: 15px;
    overflow: hidden;
    height: 520px;
}

section:first-child>div>div {
    width: 138px;
    height: 230px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 32px 0 0 0;
}

section:first-child>div>div h1 {
    width: 138px;
    margin: 0 auto;
    color: #ffffff;
    font-size: var(--text-2-size);
    line-height: var(--text-2-line-height);
    font-weight: var(--text-2-weight);
    padding-left: 25px;
}

section:first-child>div>div span {
    font-size: var(--text-6-size);
    line-height: var(--text-6-line-height);
    font-weight: var(--text-6-weight);
    color: var(--navy-200);
}

section:first-child img {
    height: 78px;
    width: 78px;
    border-radius: 50%;
    outline: unset;
}

section:first-child>div:first-child {
    background-color: var(--purple-600);
    height: 354px;
}

section:first-child>div:last-child {
    background-color: var(--navy-900);
    border-radius: 15px;
    overflow: hidden;
    height: calc(520px - 354px);
}

section:first-child>div:last-child a {
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    margin-top: 25px;
}

section:first-child>div:last-child a:not(section:first-child>div:last-child a:last-child) {
    margin-bottom: 21px;
}

section:first-child>div:last-child a.active {
    color: white;
    opacity: 1;
    font-weight: bold;
}


section:last-child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

article {
    width: 255px;
    height: 244px;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 15px;
    overflow: hidden;
}

article>div {
    padding: 32px;
    width: 255px;
    height: 199px;
    background-color: var(--navy-900);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

article>div div h2 {
    font-size: var(--text-1-size);
    line-height: var(--text-1-line-height);
    font-weight: var(--text-1-weight);
}

article>div div p {
    font-size: var(--text-6-size);
    line-height: var(--text-6-line-height);
    font-weight: var(--text-6-weight);
}

.work {
    background-color: var(--orange-300);
}

.play {
    background-color: var(--blue-300);
}

.study {
    background-color: var(--pink-400);
}

.exercise {
    background-color: var(--green-400);
}

.social {
    background-color: var(--purple-700);
}

.self {
    background-color: var(--yellow-300);
}

/* footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: inherit;
}

@media (max-width: 768px) {
    main {
        width: 612px;
        height: 677px;
        display: flex;
        flex-direction: column;
    }

    section:first-child {
        width: 100%;
        height: 203px;
        display: flex;
        flex-direction: column;
    }

    section:first-child>div:first-child {
        display: flex;
        height: 133px;
        padding: 32px;
    }

    section:first-child>div:first-child div {
        display: flex;
        color: #ffffff;
        flex-direction: row;
        align-items: center;
        width: 256px;
        height: 64px;
        padding-left: 25px;
    }

    section:first-child>div:first-child div h1 {
        font-size: var(--text-4-size);
        line-height: var(--text-4-line-height);
        font-weight: var(--text-4-weight);
    }

    section:first-child>div:first-child div img {
        width: 64px;
        height: 64px;
    }

    section:first-child>div:last-child {
        display: flex;
        justify-content: center;
    }

    section:last-child {
        width: 612px;
    }

    article {
        width: 188px;
        height: 213px;
    }

    article>div {
        height: 180px;
    }
}

@media (max-width: 375px) {
    main {
        display: flex;
        flex-direction: column;
        width: 327px;
        height: 1307px;
        margin: 0 auto;
    }

    section:first-child {
        width: 327px;
        height: 203px;
        display: flex;
        flex-direction: column;
    }

    section:last-child {
        display: flex;
        flex-direction: column;
    }

    section:last-child article {
        width: 327px;
        height: 160px;
        display: flex;
        flex-direction: column;
    }
}