@font-face {
    font-family: 'Rubik';
    src: url('./Rubik/static/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Rubik/static/Rubik-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Rubik/static/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


:root {
    /* Font Family */
    --font-family-rubik: 'Rubik', sans-serif;

    /* Font Weights */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;

    /* Text Presets */
    --text-1-size: 56px;
    --text-1-line-height: 66px;
    --text-1-weight: var(--font-weight-light);

    --text-2-size: 40px;
    --text-2-line-height: 47px;
    --text-2-weight: var(--font-weight-light);

    --text-3-size: 32px;
    --text-3-line-height: 38px;
    --text-3-weight: var(--font-weight-light);

    --text-4-size: 24px;
    --text-4-line-height: 28px;
    --text-4-weight: var(--font-weight-light);

    --text-5-medium-size: 18px;
    --text-5-medium-line-height: 21px;
    --text-5-medium-weight: var(--font-weight-medium);

    --text-5-regular-size: 18px;
    --text-5-regular-line-height: 21px;
    --text-5-regular-weight: var(--font-weight-regular);

    --text-6-size: 15px;
    --text-6-line-height: 18px;
    --text-6-weight: var(--font-weight-regular);

    /* Optional: Letter Spacing (all 0px in your case) */
    --letter-spacing-default: 0px;

    /* spacing */
    --spacing-0: 0px;
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;

    /* Neutral Colors */
    --white: #FFFFFF;
    --black: #000000;

    /* Navy Shades */
    --navy-950: #0E1323;
    --navy-900: #1C204B;
    --navy-800: #33397A;
    --navy-200: #BBC0FF;

    /* Orange */
    --orange-300: #FF8B64;

    /* Purple Shades */
    --purple-700: #7335D2;
    --purple-600: #5747EA;
    --purple-500: #7078C9;

    /* Blue */
    --blue-300: #55C2E6;

    /* Pink */
    --pink-400: #FF5E7D;

    /* Green */
    --green-400: #4BCF82;

    /* Yellow */
    --yellow-300: #F1C75B;

    /* Grey */
    --grey-200: #D8D8D8;
}