@font-face {
  font-family: "Josefin Sans";
  src:
    url("../../fonts/converted/JosefinSans-VariableFont_wght.woff2")
      format("woff2"),
    url("../../fonts/converted/JosefinSans-VariableFont_wght.woff")
      format("woff"),
    url("../../fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");

  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src:
    url("../../fonts/converted/JosefinSans-Italic-VariableFont_wght.woff2")
      format("woff2"),
    url("../../fonts/converted/JosefinSans-Italic-VariableFont_wght.woff")
      format("woff"),
    url("../../fonts/JosefinSans-Italic-VariableFont_wght.ttf")
      format("truetype");

  font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}
